BASE_URL="https://kudago.com/public-api/v1.4/"
BRIEF_EVENTS_URL="https://kudago.com/public-api/v1.4/events/?page_size=100&page=1&order_by=-publication_date"
DETAIL_EVENT_URL="https://kudago.com/public-api/v1.4/events/"
DETAIL_PLACE_URL="https://kudago.com/public-api/v1.4/places/"
DB_URI="postgresql+psycopg2://user:password@0.0.0.0:5432/events"
